
body{
    margin: 0;
}   
/* 
body{
    background-color: green;
} */

/* css resetting properties value */
/* 
.mainbox{
    height: 200px;
    width: 200px;
    background-color: pink;
}

.box-child{
    height: 100px;
    background-color: purple;
}
.box{
    background-color: red;
}

p{
    color:green
}

.mainbox{
    height: unset;
}
.box-child{
    background-color: unset;
}

.box-child{
    background-color: brown;
} */



/* Universal selector */

*{
    height: 200px;
    background-color: green;
    border:2px solid blue;
}


/* simple tag selector*/



/* Multipal Class Selector */


/*css id selector*/




/* Examples Combinator selector */

/* Descendent selector */


/* child selector */



/* adjuacent sibling selector*/




/* general sibling selector*/


/* link selector */

/* 
    link
    active
    hover
    visited
*/

/* a:link{
    color:red;
}
a:active{
    color:green;
}
a:hover{
    color:brown;
}
a:visited{
    color:pink;
} */



