*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

/* Css Icons */

/************ css overlay ***********/

.maindiv{
  display: flex;
  position: relative;
  height: 500px;
  width: 500px;
  overflow: hidden;
}

/* .box-1{
  height: 100px;
  width: 100px;
  background-color: purple;
  position: absolute;
}
.box-2{
  height: 100px;
  width: 100px;
  background-color: green;
  position: absolute;
  opacity: 0.4;
} */

img{
  position: absolute;
  object-fit: cover;
  object-position:right;
}
span{
  position: absolute;
  height: inherit;
  width: inherit;
}
.text{
  position: absolute;
  color:white
}

.maindiv:hover span{
  background-color: black;
  opacity: 0.5;
}

/******* css value and units *******/

.para{
  font-size: 200%;
}

p{
  font-size: 48px;
}
   
/**** css background blend mode  ****/

.back{
  height: 100vh;
  background-image:url("../image/pexels-luis-del-río-15286.jpg") , url("../image/earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode:soft-light;
}



