*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

/* css Position */

/* .maindiv{
    height: 600px;
    width: 1000px;
    background-color: gray;
    position: relative;
}

.box-1{
    height: 130px;
    width: 130px;
    background-color: red;
    position: absolute;
    right: 0;
}
.box-2{ 
    height: 120px;
    width: 120px;
    background-color: green;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
.box-3{
    height: 110px;
    width: 110px;
    background-color: blue;
    position: absolute;
    bottom: 0;
}
.box-4{
    height: 100px;
    width: 100px;
    background-color: purple;
    position: absolute;
    right: 0;
    bottom: 0;
}
.box-5{
    height: 90px;
    width: 90px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 
    auto;
}
.box-6{
    height: 80px;
    width: 80px;
    background-color: brown;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.box-7{
    height: 70px;
    width: 70px;
    background-color: yellow;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
}
.box-8{
    height: 60px;
    width: 60px;
    background-color:orange;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.box-9{
    height: 50px;
    width: 50px;
    background-color: tomato;
    position: absolute;
}
.boxx-1{
    height: 20px;
    width: 20px;
    background-color: black;
    position: absolute;
    right: 0;
} */



/* Z-index Propeties */


/* .z-index-1{
    height: 100px;
    width: 200px;
    background-color: green;
    position: absolute;
    z-index: -4;
}

.z-index-2{
    height: 200px;
    width: 400px;
    background-color: blue;
    position: absolute;
    z-index:-3;
}

.z-index-3{
    height: 400px;
    width: 600px;
    background-color: orangered;
    position: absolute;
    z-index:-5;
} */

button{
    border: 0;
    background-color: blue;
    padding: 20px 40px;
    /* margin: 100px; */
    position: relative;
    border-radius: 10px;
}
/* button span{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: orange;
    top:-10px;
    right: -10px;
    border-radius: 100%;
    border:2px solid white;
} */


 /* float properties */

 .float{
    background-color: gray;
 }

 .f-left{
    float: left;
 }

 .f-right{
    float: right;
    clear: none;
 }

/* css clear properties */




/* overflow properties */

/* .over{
    height: 200px;
    width: 200px;
    background-color: gray;
    overflow: auto;
} */


/* textarea{
    resize: both;
} */


/* css cursor properties */

.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}


/* css object-fit properties */

/*  fill / contain / cover / scale-down / none */

.img-div{
    height: 300px;
    width: 300px;
    overflow: hidden;
}

img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
}




