*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* CSS INDEX
            
    CSS FLEX-PROPERTIES
    CSS FLEX-BOX

*/

/* css flex-box / flex-container properties */

    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap;       */
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse ; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: center; */
    /* align-self: start;  */
    /* align-self: end;  */
    /* align-self: self-start;  */
    /* align-self: self-end;  */
    /* flex-flow: column wrap; */
    /* flex-flow: row-reverse wrap-reverse; */




    .maindiv{
        height: 700px ;
        /* max-width: 1200px; */
        background-color: gray;
        border:2px solid black;
        display: flex;
        /* flex-wrap: wrap-reverse; */
        /* flex-direction:row; */
        justify-content: space-evenly;
        /* align-items: center; */
        /* flex-direction: column-reverse;
        justify-content: center;
        align-items: center; */
        /* flex-flow: wrap row; */
    }

    .maindiv div:nth-child(1){
        height: 100px;
        width: 100px;
        background-color: red;
        align-self: center;
    }
    .maindiv div:nth-child(2){
        height: 100px;
        width: 100px;
        background-color: green;
    }
    .maindiv div:nth-child(3){
        height: 100px;
        width: 100px;
        background-color: blue;
        align-self: end;
    }
    .maindiv div:nth-child(4){
        height: 100px;
        width: 100px;
        background-color: purple;
    }
    .maindiv div:nth-child(5){
        height: 100px;
        width: 100px;
        background-color: orange;
    }
    .maindiv div:nth-child(6){
        height: 100px;
        width: 100px;
        background-color: black;
        align-self: center;
    }

/* flex order properties */





/*

parent properties
dispaly:flex;
default: flex-direaction:row;
row-direaction :- justify-content properties horizontal movement
                  align-items properties vertical movement

row-reverse    :-justify-content properties horizontal movement
                  align-items properties vertical movement

flex-direaction:- column / column-reverse 

justify-content propertise vertical movement
align-items properties horizontal movement 