/* @media (max-width:1200px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width:992px) {
    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
    }
}

@media (max-width:768px) {}

@media (max-width:576px) {} */
